fastapi==0.115.0
uvicorn==0.30.6
requests==2.32.3
pandas==2.2.2
jinja2==3.1.4
python-dotenv==1.0.1
praw==7.7.1
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
pydantic<3
redis==5.2.0
mangum==0.18.0